<% if(succMsg && succMsg.length) { %>
    <div class="alert alert-info alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= succMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(delMsg && delMsg.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= delMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(updMsg && updMsg.length) { %>
    <div class="alert alert-dark alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= updMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(addMsg && addMsg.length) { %>
    <div class="alert alert-dark alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= addMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(revDelMsg && revDelMsg.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= revDelMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(singMsg && singMsg.length) { %>
    <div class="alert alert-info alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= singMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(errMsg && errMsg.length) { %>
    <div class="alert alert-secondary alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= errMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(logMsg && logMsg.length) { %>
    <div class="alert alert-secondary alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= logMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(logErr && logErr.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-5 offset-4 mt-3" role="alert">
        <%= logErr %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>